# Python
*__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual environments
venv/
.venv/

# Local/editor files
.DS_Store
.vscode/

.claude

output/
src/summary/compare_optimistic_improvement_movement_cost2_vs_optimistic_improvement_movement_cost3.csv
